_sass/components/_layout.scss text eol=lf
_sass/components/_navigation.scss text eol=lf
_sass/components/_post-cards.scss text eol=lf
_sass/components/_share-buttons.scss text eol=lf
_sass/components/_utilities.scss text eol=lf
_sass/main.scss text eol=lf